extends ../../layout

block stylesheets
  link(rel="stylesheet", href="/stylesheets/order.css")
block javascripts
  script(type='text/javascript', src='/javascripts/validate/jquery.validate.min.js')
  script(type='text/javascript', src='/javascripts/validate/messages_zh.min.js')
  script(type='text/javascript', src='/javascripts/validate/additional-methods.js')
  script(type='text/javascript', src='/javascripts/member/modify.js')
block content
  .page-line
  form#form
    ul.order-list-big.order-list.form-list
      li
        input.w100(type='text', name=modify , placeholder=data[modify])
    .member-handle.btn-handle
      a.btn(href='javascript:;') 确认修改
  .mask#mask
  .tips
    p
    a(href="javascript:;").queding 确定