extends layout
block stylesheets
  link(rel="stylesheet", href="/stylesheets/order.css")
block content
  .pay-results
    img.font-icon(src='images/member/error.png', alt='')
    p 糟糕！出错了!
  .results-only
    p 错误原因：#{message}
  .btn-box2
    .btn-bottom
      //.btn-handle
        a.btn-RP(href='ticket-pay-success.html') 刷新页面
      .btn-handle
        a.btn(href='/') 返回首页

//block content
  h1= message
  h2= error.status
  pre #{error.stack}