extends layout
block stylesheet
   link(rel='stylesheet', href='/stylesheets/login.css')
block scripts
   script(src='/javascripts/login.js')
   script(src='/javascripts/validate/jquery.validate.min.js')
   script(src='/javascripts/validate/messages_zh.min.js')
   script(src='/javascripts/validate/additional-methods.js')
block content
   div.login-panel.register-panel
      form(action="",method="post")#myform
         ul.login-list
            li
               input(type="tel",placeholder="请输入您的手机号码",name="tel")
            li
               input(type="tel",placeholder="请输入您的验证码",name="cardcode",value=checkCode)
               input(type="button",value="发送验证码").card-btn#passwordCardBtn
            li
               input(type="password",placeholder="请输入您的密码",name="password",id="password")
               p.form-explian 6-20位字母、数字或符号
            li
               input(type="password",placeholder="请确认您的密码",name="enterpassword")
         div.login-handle.btn-handle
            button(type="submit").btn.c-base#savePasswBtn 确定
   div.mask#mask
   .tips
      p
      a(href="javascript:;").queding 确定

