extends layout
block stylesheets
    link(rel="stylesheet", href="/stylesheets/login.css")
block javascripts
    script(type='text/javascript', src='/javascripts/validate/jquery.validate.min.js')
    script(type='text/javascript', src='/javascripts/validate/messages_zh.min.js')
    script(type='text/javascript', src='/javascripts/validate/additional-methods.js')
    script(type='text/javascript', src='/javascripts/login.js')
block content
    .login-main.register-main
        form#submitForm
          .login-list
            .input-box.text
                input#password(type='password',name='password', placeholder='请输入6-20位字母、数字或符号的新密码')
            //p.form-explian 6-20位字母、数字或符号
            .input-box.text
              input(type='password',name="enterpassword", placeholder='请重新输入新密码')
            .input-box.input-button
              input#setNewPassword(type='button', value='确定修改',data-id=id)
    .mask#mask  
        .tips
            p
            a(href="javascript:;").queding 确定