.shopbanner{
    width: 100%;
    height: 13.75rem;
}
.shopbanner .swiper-container{height:13.75rem;width:100%}
.shopbanner .swiper-container .swiper-slide a{display:block}
.shopbanner .swiper-container .swiper-slide img{height:13.75rem;width:100%}
.shopbanner .swiper-container-horizontal>.swiper-pagination-bullets,.hs-banner .bg-banner .swiper-pagination-custom,.hs-banner .bg-banner .swiper-pagination-fraction{bottom:.5rem;z-index:99; left: 30%;}
.shopbanner .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,.hs-banner .bg-banner .swiper-pagination-custom .swiper-pagination-bullet,.hs-banner .bg-banner .swiper-pagination-fraction .swiper-pagination-bullet{background:#fff;height:.275rem;width:.275rem;border-radius:.275rem;opacity:.5}
.shopbanner .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active,.hs-banner .bg-banner .swiper-pagination-custom .swiper-pagination-bullet-active,.hs-banner .bg-banner .swiper-pagination-fraction .swiper-pagination-bullet-active{opacity:1}
.shop-content1{
   display: block;
    background: #fff;
    margin-top: .5rem;
    padding: .25rem .5rem;
}
.shop-title{
  width: 100%;
    text-align: center;
    padding-top: .25rem;
    padding-bottom: .5rem;
    position: relative;
}
.shop-title h2{
    font-size: .7rem;
    color: #333;
}
.shop-title a{
    position: absolute;
    font-size: .6rem;
    right: 0;
    top:.35rem;
    color: #999;
}
.swiper-container2{margin:0 auto;position:relative;overflow:hidden;z-index:1}
.swiper-container2 {  width: 100%;  margin: 0rem auto; margin-top: 0.5rem;  }
.swiper-container2  .swiper-slide {  text-align: center; width: 33.3% !important;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container2 .swiper-wrapper{margin-left: -26%;}

.swiper-container2 a{ display: block; width: 100%;}
.swiper-container2 a img{ width: 100%; height: 4.5rem;display: block;}
.swiper-container2 a h3{ color: #000; font-size: 0.6rem; text-align: center; margin-top: 0.4rem;
    text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.swiper-container2 a p{ color: #ff7a51; font-size: 0.6rem; margin-top: 0.25rem; }
.swiper-container2 a p em{
    font-size: .45rem;
}
.swiper-container2 a span{
    font-size: .45rem;
    color: #999;
    padding-top: .25rem;
    text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
    display: block;

}
.shop-list{ width: 100%; overflow: hidden;}
.shop-list li{
    width: 48%;
    float: left;
    margin-right: 4%;
}
.shop-list li:nth-of-type(2n){
    margin-right: 0;
}
.shop-list li a{
    display: block;
    width: 100%;
}
.shop-list li img{
    display: block;
    width: 100%;
    height: 5.5rem;
}
.shop-list li h2{
    font-size: .6rem;
    color: #333;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; word-wrap: break-word;
    word-break: break-all;
    padding-top: .25rem;
}
.shop-list li .labels{
    width: 100%;
    padding-top: .25rem;
}
.shop-list li .labels span{
    font-size: .5rem;
    color: #ee5353;
    border: 1px solid #ee5353;
    padding: .1rem .25rem;
    border-radius: .25rem;
    margin-right: .25rem;
}
.shop-list li a p{ color: #ff7a51; font-size: 0.6rem; margin-top: 0.25rem; }
.shop-list li a p em{
    font-size: .45rem;
}
.repeat-title{
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    padding: 0 .5rem 0rem .5rem;
}
.repeat-title li{
    float: left;
    margin-right: 1rem;
    font-size: .5rem;
    color: #333;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.repeat-content{
    padding-left: 0;
    padding-right: 0;
}
.repeat-title li.on{
    border-bottom: 2px solid #006953;
    color: #006953;
}
.img-list{
   width: 100%;
    overflow: hidden;
}


.img-list ul{width:100%}
.img-list ul li{display:block;
    width: 90%;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    padding: .5rem 5%;
    margin-bottom:.5rem;
   }
.img-list ul li a{
    display:block;width: 100%;
    height: auto;
}
.img-list ul li a img{
     width: 4.25rem;
     height: 4rem;
     display: block;
     float: left;
 }
 .rep-content2{
     float: right;
     width: 66%;
 }
.rep-content2 h2{
  font-size: .6rem;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.rep-content2 p.subtitle{
    font-size: .5rem;
    color: #999;
    padding-top: .25rem;
}
.rep-content2 p.labels{
   padding-top: .25rem;
    display: block;
}
.rep-content2 p.labels label{
    border: 1px solid #ee5353;
    font-size: .4rem;
    padding: .15rem .25rem;
    border-radius: .25rem;
    display: inline-block;
}
.rep-content2 p.price{
 padding-top: .25rem;
}
.rep-content2 p.price span{
    float: left;
    color: #999;
    font-size: .5rem;
}
.rep-content2 p.price label{
    float: right;
    color: #999;
    font-size: .5rem;
}
.rep-content2 p.price em{
    color: #ff7a51;
    font-size: .6rem;
}
.strategy-list{
    width: 100%;
    overflow: hidden;
}
.strategy-list li{
    width: 100%;
    position: relative;
    height: 7rem;
    overflow: hidden;
    margin-bottom: .5rem;
}
.strategy-list li img{
    display: block;
    height: 7rem;
    width: 100%;
}
.strategy-list li .strbg{
 width: 100%;
    height: 7rem;
    background: rgba(0,0,0,.5);
    position: absolute;
    top:0;
    left: 0;
}
.strategy-list li h2{
    font-size: .6rem;
    color: #fff;
    padding:.25rem 0 ;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 70%;
    margin: 0 auto;
    margin-top:3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}