mixin footer3()
  .hs-footer
    ul
      li
        a(href='/')
          i.icon-ihome
          p 首页
      li
        a(href='/list/order')
          i.icon-iorder
          p 订单
      li
        a(href='tel:400-000-000')
          i.icon-italk
          p 客服
      li
        a.on(href='/member')
          i.icon-imember
          p 我的