mixin footer()
  .hs-footer
    ul
      li
        a.on(href='/')
          i.icon-ihome
          p 首页
      li
        a(href='/list/order')
          i.icon-iorder
          p 订单
      //li
      //  a(href='/list/route')
      //    i.icon-nav-order
      //    p 跟团游
      li
        a(href='tel:400-000-000')
          i.icon-italk
          p 客服
      li
        a(href='/member')
          i.icon-imember
          p 我的