extends ../layout

block stylesheets
  link(rel="stylesheet", href="/stylesheets/details.css")
block javascripts
  script(type='text/javascript', src='/javascripts/dropload.min.js')
  script(type='text/javascript', src='/javascripts/list.js')
block content
  .comment-toptips
      span.fr.nums
        i.font-icon.icon-star-full
        i.font-icon.icon-star-full
        i.font-icon.icon-star-full
        i.font-icon.icon-star-full
        em
          | 5分
      span.fr
        | 客户体验满意度
  .drop-box
    ul.comment-list